In [4]:
name = "Rohit Raju Kamble"

In [5]:
name.capitalize()

'Rohit raju kamble'

In [14]:
" ".join(name)

'R o h i t   R a j u   K a m b l e'

In [22]:
name.split(" ")

['Rohit', 'Raju', 'Kamble']

In [23]:
name.split(" ")[::-1]

['Kamble', 'Raju', 'Rohit']

In [25]:
name.split(" ")[::-1][2]

'Rohit'

In [9]:
reversed(name)

In [10]:
" ".join(reversed(name))

'e l b m a K   u j a R   t i h o R'

In [26]:
list(name)

['R',
 'o',
 'h',
 'i',
 't',
 ' ',
 'R',
 'a',
 'j',
 'u',
 ' ',
 'K',
 'a',
 'm',
 'b',
 'l',
 'e']

In [27]:
list(reversed(name))

['e',
 'l',
 'b',
 'm',
 'a',
 'K',
 ' ',
 'u',
 'j',
 'a',
 'R',
 ' ',
 't',
 'i',
 'h',
 'o',
 'R']

In [30]:
" * ".join(name)

'R * o * h * i * t *   * R * a * j * u *   * K * a * m * b * l * e'

In [31]:
#Return a copy of the string with leading and trailing whitespace removed.
name.strip()

'Rohit Raju Kamble'

In [32]:
a ="jadnfjndlk  "

In [33]:
a

'jadnfjndlk  '

In [34]:
a.strip()

'jadnfjndlk'

In [39]:
b= "Good Morning Bangalore"

In [40]:
b.replace("Bangalore","Karnataka")

'Good Morning Karnataka'

In [43]:
b.replace("oo","  ")

'G  d Morning Bangalore'

In [44]:
"hello world"

'hello world'

In [46]:
"hello \tworld".expandtabs()

'hello   world'

In [47]:
name

'Rohit Raju Kamble'

In [49]:
name.islower()

False

In [50]:
name.isupper()

False

In [51]:
"".isspace()

False

In [52]:
" ".isspace()

True

In [53]:
name.endswith("e")

True

In [54]:
name.endswith("t")

False

In [56]:
name.split(" ")[0].endswith("t")

True

In [57]:
x= "jndf7457932d"

In [58]:
x.isalnum()

True

#### Reversing the  string

In [77]:
n= "Rohit"

In [78]:
l=len(n)-1
while l!=-1:
    print(n[l])
    l=l-1

t
i
h
o
R

In [81]:
l=len(n)-1
while l!=-1:
    print(n[l],end=(""))
    l=l-1

tihoR

In [82]:
n[::-1]

'tihoR'

#### Printing the all the vowels in the string

In [92]:
name= "Rohit Raju Kamble"
vowels="AEIOUaeiou"
for i in name:
    if i in vowels:
        print(i,end=(" "))

o i a u a e

In [93]:
def vowels(string):
    vowels="AEIOUaeiou"
    for i in string:
        if i in vowels:
            print(i,end=" ")

In [94]:
vowels("fuck you")

u o u

#### spliting the name into different columns

In [95]:
import pandas as pd

In [100]:
df= pd.DataFrame({"fullname":["Rohit Raju Kamble"]})
df

            fullname
0  Rohit Raju Kamble

In [134]:
df.values[0][0].split(" ")

['Rohit', 'Raju', 'Kamble']

In [126]:
df.fullname.array[0].split(" ")

['Rohit', 'Raju', 'Kamble']

In [144]:
df.fullname.dtypes

dtype('O')

In [149]:
#converting object dtype into string
df.fullname.str

In [147]:
type(df.fullname.str)

pandas.core.strings.accessor.StringMethods

In [130]:
df.fullname.str.split(" ")

0    [Rohit, Raju, Kamble]
Name: fullname, dtype: object

In [135]:
df.fullname.str.split(" ",expand=True)

       0     1       2
0  Rohit  Raju  Kamble

In [138]:
df[["first_name","middle_name","last_name"]]=df.fullname.str.split(" ",expand=True)
df

            fullname first_name middle_name last_name
0  Rohit Raju Kamble      Rohit        Raju    Kamble